<div class="panel panel-inventory">
  <div class="panel-heading">Inventory</div>
  <div class="panel-body"
       dnd-droppable [dropZones]="['inventory']" (onDropSuccess)="inventoryDrop($event)">

    <!-- FILLED CASE -->
    <span class="invslot" *ngFor="let ingredient of ingredients">
              <span class="invslot-item"
                    dnd-draggable
                    (onDragSuccess)="usedIngredient($event)"
                    [dragData]="ingredient" [dragEnabled]="true" >
                <span [title]="ingredient.description" class="inv-sprite"
                      [style.background-position-x.px]="ingredient.css.backgroundPositionX"
                      [style.background-position-y.px]="ingredient.css.backgroundPositionY">
                </span>
              </span>
              <p style="margin: 0;position: absolute;bottom: 0;right: 0;color: white;">{{ingredient.quantity}}</p>
    </span>

    <!-- EMPTY CASE -->
    <span class="invslot" *ngFor="let emptyCase of nbEmptyCase">
              <span class="invslot-item">
                <span class="inv-sprite">

                </span>
              </span>
    </span>

  </div>
</div>
<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
<!--
<div class="panel panel-info">
  <div class="panel-heading">Place to drop &lt;!&ndash;(Items:{{receivedData.length}})&ndash;&gt;</div>
  <div class="panel-body">
        <span dnd-droppable (onDropSuccess)="transferDataSuccess($event)" class="invslot">
          <span class="invslot-item" *ngIf="receivedData.length > 0">
            <span class="inv-sprite"
                  [style.background-position-x.px]="receivedData[receivedData.length-1].dragData.css.backgroundPositionX"
                  [style.background-position-y.px]="receivedData[receivedData.length-1].dragData.css.backgroundPositionY">
            </span>
            &lt;!&ndash;<p>{{receivedData[receivedData.length-1].dragData.css | json}}</p>&ndash;&gt;
          </span>
        </span>
  </div>
</div>-->
