<span class="mcui mcui-Brewing_Stand" [class.brewer-size]="mode === 'live'">
  <span class="mcui-input mcui-inactive">
    <span class="mcui-bubbling"></span>

    <!--LIVE-->
    <span class="invslot"
          dnd-droppable (onDropSuccess)="ingredientDrop($event)" [allowDrop]="allowDrop('ingredient')"
          *ngIf="mode === 'live'">

      <span class="invslot-item"
            *ngIf="brewerInput.ingredient"
            [title]="brewerInput.ingredient.description"
            dnd-draggable [dragEnabled]="true" [dragData]="[brewerInput.ingredient, 'ingredient']"
            [dropZones]="['inventory']" (onDragSuccess)="resetBrowerInput($event)">

        <span class="inv-sprite" *ngIf="brewerInput.ingredient.id > 0"
              [style.background-position-x.px]="brewerInput.ingredient.css.backgroundPositionX"
              [style.background-position-y.px]="brewerInput.ingredient.css.backgroundPositionY">
        </span>
      </span>

    </span>

    <!-- DEMO-->
    <span class="invslot"
            *ngIf="mode === 'demo'">
        <span class="invslot-item">
          <span class="inv-sprite"
                [class.inv-sprite-demo-sugar]="mode === 'demo'">
          </span>
        </span>
    </span>

    <span class="mcui-arrow"></span>
  </span>

  <span style="height: 50px;margin: -12px auto -26px;" class="mcui-paths"></span>

  <span style="width: 160px;margin: 0 auto;" class="mcui-output">
    <!-- DEMO -->
    <span *ngIf="mode === 'demo'" class="invslot mcui-output1">
      <span class="invslot-item">
        <span class="inv-sprite inv-sprite-demo-bottle">
        </span>
      </span>
    </span>
    <!-- LIVE -->
    <span *ngIf="mode === 'live'"
          class="invslot mcui-output1"
          dnd-droppable (onDropSuccess)="bottleDrop1($event)" [allowDrop]="allowDrop('output1')">

      <span class="invslot-item"
            *ngIf="brewerInput.bottle1"
            [title]="brewerInput.bottle1.description"
            dnd-draggable [dragEnabled]="true" [dragData]="[brewerInput.bottle1, 'bottle1']"
            [dropZones]="['inventory']" (onDragSuccess)="resetBrowerInput($event)">
        <span class="inv-sprite" *ngIf="brewerInput.bottle1.id > 0"
              [style.background-position-x.px]="brewerInput.bottle1.css.backgroundPositionX"
              [style.background-position-y.px]="brewerInput.bottle1.css.backgroundPositionY">
        </span>
      </span>
    </span>

    <!-- DEMO -->
    <span *ngIf="mode === 'demo'" class="invslot mcui-output2">
      <span class="invslot-item">
        <span class="inv-sprite inv-sprite-demo-bottle">
        </span>
      </span>
    </span>
    <!-- LIVE -->
    <span *ngIf="mode === 'live'"
          class="invslot mcui-output2"
          dnd-droppable (onDropSuccess)="bottleDrop2($event)" [allowDrop]="allowDrop('output2')">

      <span class="invslot-item"
            *ngIf="brewerInput.bottle2"
            [title]="brewerInput.bottle2.description"
            dnd-draggable [dragEnabled]="true" [dragData]="[brewerInput.bottle2, 'bottle2']"
            [dropZones]="['inventory']" (onDragSuccess)="resetBrowerInput($event)">
        <span class="inv-sprite" *ngIf="brewerInput.bottle2.id > 0"
              [style.background-position-x.px]="brewerInput.bottle2.css.backgroundPositionX"
              [style.background-position-y.px]="brewerInput.bottle2.css.backgroundPositionY">
        </span>
      </span>
    </span>

    <!-- DEMO -->
    <span *ngIf="mode === 'demo'" class="invslot mcui-output3">
      <span class="invslot-item">
        <span class="inv-sprite inv-sprite-demo-bottle">
        </span>
      </span>
    </span>
    <!-- LIVE -->
    <span *ngIf="mode === 'live'"
          class="invslot mcui-output3"
          dnd-droppable (onDropSuccess)="bottleDrop3($event)" [allowDrop]="allowDrop('output3')">

      <span class="invslot-item"
            *ngIf="brewerInput.bottle3"
            [title]="brewerInput.bottle3.description"
            dnd-draggable [dragEnabled]="true" [dragData]="[brewerInput.bottle3, 'bottle3']"
            [dropZones]="['inventory']" (onDragSuccess)="resetBrowerInput($event)">
        <span class="inv-sprite" *ngIf="brewerInput.bottle3.id > 0"
              [style.background-position-x.px]="brewerInput.bottle3.css.backgroundPositionX"
              [style.background-position-y.px]="brewerInput.bottle3.css.backgroundPositionY">
        </span>
      </span>
    </span>
  </span>
  <button *ngIf="mode === 'live' && allowBrewing()"
          (click)="startBrewing()"
          class="btn start-recipe">
    Make my potion!
  </button>
  <button *ngIf="mode === 'live' && !allowBrewing()"
          class="btn start-recipe" disabled>
    Make my potion!
  </button>
</span>
