<div class="title">
    <div>
        <span style="height: 300px;" class="mcui mcui-Brewing_Stand">
            <span class="mcui-input mcui-inactive">
                <span class="mcui-bubbling"><br></span>
                <span style="width: 40px;height: 40px;margin: 0 20px;" class="invslot"><br></span>
                <span class="mcui-arrow"><br></span>
            </span>
            <span style="height: 50px;margin: -12px auto -26px;" class="mcui-paths"><br></span>
            <span style="width: 160px;margin: 0 auto;" class="mcui-output">
              <span style="width: 40px;height: 40px;" class="invslot mcui-output1"><br></span>
              <span style="width: 40px;height: 40px;" class="invslot mcui-output2"><br></span>
              <span style="width: 40px;height: 40px;" class="invslot mcui-output3"><br></span>
            </span>
            <div id="inventory" >
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
                <span class="invslot">
                    <span class="invslot-item">
                        <span class="sprite inv-sprite"></span>
                    </span>
                </span>
            </div>
        </span>
    </div>


</div>